<% provide(:title, "Top") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>| WeightApp</title>
  </head>

  <body>
    <h1>体重管理システム</h1>
    <p>このアプリケーションでは登録ユーザーごとに体重管理をすることが出来ます。</p>

  </body>
</html>

